/* ----------------------------------------------------------------------------
Information Contained Herein is Proprietary and Confidential. copyright notice in all copies, 
acknowledging that the code is provided without warranties, and strictly prohibiting unauthorized 
sharing or distribution without prior written consent from the copyright holder<DKG Labs Pvt. Ltd>
------------------------------------------------------------------------------ */

.app {
  background-color: #f2f2f2;
}


.navbar {
  background-color: #2196f3;
}

.navbar-title {
  flex-grow: 1;
}



.dsa-form-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  margin-bottom: 16px;

  .dsa-form-input {
    margin-bottom: 16px;
    width: 300px;
  }

  .dsa-form-submit-button {
   width: 5rem;
  }
}


.summary-card {
  transition: all 1s ease-in;
  position: relative;
}

.summary-card.clicked{
  transition: all 0.2 ease-in;
  transform: scale(1.05);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.summary-card::after{
  position: absolute;
  content: "";
  // background-color: lightgray;
  width: 0;
  height: 5px;
  bottom: 0;
  transition: width 0.3s ease; /* Transition width */
}

.summary-card.clicked::after {
  position: absolute;
  background-color: rgb(85, 0, 255); 
  content: "";
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
}
